.sidebar
    #menuContents
          h2#indexLink.titleFont
            | Ari Laurel 
          a(href='index.html')
            | Home
          a(href='writing.html')
            | Writing
          a(href='contact.html')
            | Contact
