.sidebar
    #menuContents
          a#indexLink.titleFont(href='index.html')
            | Ari Laurel 
          a(href='writing.html')
            | Writing
          a(href='contact.html')
            | Contact
