.sidebar
    #menuContents
          a#indexLink.titleFont(href='index.html')
            | ARI LAUREL 
          a(href='index.html')
            | About 
          a(href='writing.html')
            | Writing
          a(href='contact.html')
            | Contact
