extends ../layouts/base-sidebar.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Extra';
    - var index = true;
    
block content 
  .pure-g.center
    .pure-u-11-12.pure-u-md-3-5
      form#fs-frm(name='simple-contact-form' accept-charset='utf-8' action='https://formspree.io/f/xdobwgbq' method='post')
        fieldset#fs-frm-inputs
          label(for='full-name') Full Name
          input#full-name(type='text' name='name' placeholder='First and Last' required='')
          label(for='email-address') Email Address
          input#email-address(type='email' name='_replyto' placeholder='email@domain.tld' required='')
          label(for='message') Message
          textarea#message(rows='5' name='message' placeholder='Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla nullam quis risus.' required='')
          input#email-subject(type='hidden' name='_subject' value='Contact Form Submission')
        input(type='submit' value='Submit')


