extends ../layouts/base.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Ari Laurel';
    - var index = true;
    
block content 
  .pure-g
    .hero-shot.pure-u-1
      #heroShot
        img#rectangular(src="assets/forest.jpg")

    .pure-u-1.centered
        .pure-u-1.center-text
          h1.titleFont ARI LAUREL
          .pure-u-1
            a.menu-link(href='writing.html') Writing
            a.menu-link(href='extra.html') Extras
            a.menu-link(href='contact.html') Contact
          .pure-u-7-8.pure-u-md-3-5
            p.intro.oswald
              | Ari Laurel is a fiction writer in Seattle who writes about decolonial futures, climate, and the Pacific Northwest. 
              | She primarily draws from her experience as a racial justice community organizer in Missoula and a labor organizer in Seattle. 
              | Her stories are politically motivated, reflecting a strong current of international solidarity, food sovereignty, land return, 
              | and ecological restoration. She is a 2022 Hugo House fellow, a 2022 Fernland Studios artist in residence, and a 2023 June Dodge 
              | fellow at the Mineral School. 
            p.intro.oswald
              | Her work has appeared in 
              i Ninth Letter, Passages North, Blue Mesa Review, The Conium Review, The Toast, Duende, 
              | and more. 
              | Her short story “Farewell Address to the Last Mango in the Pacific Northwest” won first place in 
              i Blue Mesa Review’s 
              | 2021 Summer Fiction contest. This story is currently part of a larger project.



