.card {
  background-color: #333;
  margin: 15px;
  padding: 15px;
}

#writingBackground {
  position: fixed;
  z-index: -1;
}

#background {
  background: url("assets/temple.jpg") no-repeat center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

body {
  //  overflow: hidden;
}

.cardTitle {
  font-family: "Yeseva One";
  font-size: 25px;
}

.journalLink {
  font-family: "Source Sans Pro";
  font-size: 20px;
}

.cardInfo {
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-style: italic;
}

#writings {
  opacity: 0;
}

.show {
  display: block;
}

.slideIn {
  display: block;
  animation-duration: 3s;
  animation-name: slideInUp;
  animation-fill-mode: forwards;
}

.left {
  margin-left: 5%;
  margin-right: auto;
  text-align: left;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    opacity: 0.95;
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 48em) {
  .left {
    margin-left: auto;
    margin-right: auto;
  }

  #writingBackground {
    height: 100vh;
    object-position: 50% 50%;
    object-fit: cover;
  }

  #background {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    position: static;
    height: 30vh;
  }
}
